player-connection-mode=Connect
player-connection-guid=397512791
player-connection-debug=0
player-connection-project-name=BIT_BOT
player-connection-wait-timeout=-1
player-connection-ip=192.168.87.45
profiler-enable=1
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=fc5cac9528f3410a9b3d2379280bb7f9
